# Python for Managers | Classroom | 2021

-----
## Introduction to Python 
-----

### Hello World!
Start your python journey as it is tradition for coders:

In [4]:
print("Text")

Text

**Advice**: use the ``TAB`` key while typing a (key)word to 
* show syntactically correct options
* autocomplete

---

### Handling errors
* Keep calm
* Read the error message
* Try to fix it, ask your trainer or copy&paste the last line of the error into a new google search.
* Code on!

In [7]:
prin('hello, world!')

NameError: name 'prin' is not defined

In [4]:
print('hello, world!'

SyntaxError: unexpected EOF while parsing (<ipython-input-4-37213b5e3422>, line 1)

In [5]:
# This is a comment. Each line starting with a # will not affect your code, but are very useful for documentation

---

### Variables  
You can assign and store values inside a variable.  
Naming of variables:  
* It can be only one word.
* It can use only letters, numbers and the underscore _
* It can't begin with a number.

In [111]:
my_name = "Edwin"
print(my_name)

Edwin

In [112]:
print("Hello", my_name)

Hello Edwin

# TASK

In [37]:
# Change the value of my_name to your first name and print it.
# YOUR CODE HERE
# my_name = ...

Josef

---

## Python Data Types

In this tutorial, we review the most important and mainly used python data types.

### Numbers

 - `int` (`integer`, means "whole" from latin)
 
$\mathbb{Z}$

In [9]:
# int 
x = 1

In [10]:
print(x)

1

Use ```type()``` to get the data type of your variable

In [10]:
a = 4 + 5
b = 4 * 5
c = 20 / 5
d = 6**2

print(a, b, c, d)

9 20 4.0 36

 - `float` (`floating point number`)
 
 $\mathbb{R}$

In [13]:
# float 
# !!!Care!!! The decimal symbol is a dot . not a comma ,
y = 1.01111

1.01111
<class 'float'>

In [39]:
a = 4.2 + 5.1
b = 4.3 * 5.2
c = 5.0 / 4.0

print(a, b, c)

9.3 22.36 1.25

In [14]:
int_number = 2
float_number = 2.4
result =int_number * float_number
print(result)

4.8

## str(String)
* Text

In [15]:
x = "abc"
print(x)

abc

str

In [26]:
a = 'Hello'
b = "World"
s = a + b
print(s)

HelloWorld

Using "*"

In [27]:
print(b * 3)

WorldWorldWorld

You can "slice" a text into subparts like this:

In [30]:
print(s)        # Complete string
print(s[0])     # First character of the string. We start counting from zero!
print(s[1])     # Second character of the string
print(s[2:5])   # String starting from 3rd to 5th (indexes 2, 3 and 4)
print(s[2:])    # String starting from 3rd character
print(s[-1])    # Last character

HelloWorld
H
e
llo
lloWorld
d

# TASK

In [ ]:
# Define a new variable "shoe_size" and assign to it your shoe size. Divide this number by 2.5 and print it.  
### YOUR CODE HERE

# Print the last 3 characters of "my_name"
### YOUR CODE HERE

---

## Advanced Data Types

### list

list = list of multiple values that are assigned to a single variable. python recognizes it if you write the values in [ ] and seperate it with , (commas)

In [23]:
values = [33450, 34010, 33990, 33200]
values

[33450, 34010, 33990, 33200]

In [20]:
print(type(values))

<class 'list'>

* you can also put strings (=text) into the list or combine different data types (eg. integer, float, string, ...)

In [43]:
income = ['Low', 'Medium', 'High']
names = ['John Doe', 'Janne Doe', 'Your neighbor']

print(income)
print(names)

['Low', 'Medium', 'High']
['John Doe', 'Janne Doe', 'Your neighbor']

In [25]:
features = ['Janne Doe', 'Medium', 500000, 12.0, True]
features

['Janne Doe', 'Medium', 500000, 12.0, True]

* Access parts of the list just like slicing a text.

In [45]:
print(features[0])
print(features[1])
print(features[3])

Janne Doe
Medium
12.0

In [31]:
print(features[:4])

['Janne Doe', 'Medium', 500000, 12.0]

* Print itens from your list

In [27]:
print("hello all!")
print('hello all! I am', features[0])

hello all!
hello all! I am Janne Doe

* you can replace values by assigning them a value to a determined position in the list like this: (Be careful with the indexing - it starts at 0!)

In [29]:
print(features)
features[4]='hello all!'
print(features)

['Janne Doe', 'Medium', 500000, 12.0, True]
['Janne Doe', 'Medium', 500000, 12.0, 'hello all!']

* you can add values by using the build-in .append function like this:

In [30]:
features.append('One more element in the list')
print(features)

['Janne Doe', 'Medium', 500000, 12.0, 'hello all!', 'One more element in the list']

* you can remove values by using the build-in .remove function like this:

In [33]:
features.remove("Medium")

In [34]:
print(features)

['Janne Doe', 500000, 12.0, 'hello all!', 'One more element in the list']

# Dictionaries 
* Think of it like tables

In [39]:
# {key : value}
words_frequencies = {'Apples': 2, 'Bananas': 1} 
print(words_frequencies)

{'Apples': 2, 'Bananas': 1}

In [40]:
words_frequencies['Apples'] = 4
words_frequencies

{'Apples': 4, 'Bananas': 1}

In [41]:
print(words_frequencies['Apples'])

4

In [61]:
print(words_frequencies['Orange'])

KeyError: 'Orange'

In [64]:
another_dict = {'abc': 3.2, 222: [0.8, 1], '123': None}
print(another_dict)

{'abc': 3.2, 222: [0.8, 1], '123': None}

---

## Conditional Statements
* if/else/elif, while

In [51]:
if 1 == 1: # python uses colon ":" to indent the next code lines which defines scope & visualizes the program flow
    print('one is one')

one is one

In [54]:
a = 7
if a > 6:
    print('a is bigger than 6')
else:
    print("a isn't bigger than 6")

a is bigger than 6

In [61]:
a = 4
if a > 6:
    print('a is bigger than 6')
elif a > 5:
    print('a is bigger than 5')
elif a > 4:
    print('a is bigger than 4')
else:
    print("a isn't bigger than 6 or 5")

a isn't bigger than 6 or 5

In [65]:
cnt = 1

while cnt < 20:
    print(cnt)
    cnt = cnt + 1
    
    # be carefult with endless loops!

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [104]:
cnt = 1

while True:
    print(cnt)
    cnt = cnt + 1
    if cnt > 10:
        break
    
    # be careful with endless loops!

1
2
3
4
5
6
7
8
9
10

---

## Range

In [101]:
a_list = [0,1,2,3,4,5,6,7,8,9,10]
a_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Function lenght ```len()```

In [99]:
(len(a_list))

11

In [102]:
b_list = list(range(11))
b_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

## Loops

for ```variable``` in ```sequence```: <br>
&emsp; body_of_loop that has set of statements <br>
&emsp; which requires repeated execution

Here ```<variable>``` is a variable that is used for iterating over a ```<sequence>```. On every iteration it takes the next value from ```<sequence>```  until the end of sequence is reached.

In [95]:
c_list = [8,7,6,5,4,3,2,1]

In [96]:
for i in c_list:
    print(i)

8
7
6
5
4
3
2
1

In [97]:
for i in c_list:
    sq = i * i
    print(sq)
print("Program Finished!")

64
49
36
25
16
9
4
1
Program Finished!

In [110]:
for i in range(8):
    print(c_list[i])

8
7
6
5
4
3
2
1

# TASK

In [88]:
# Write a for loop, where you print out each element of test_list list, if the element is bigger that 5.
test_list = [1,2,3,33,55,12,33,0,2,5,6]
# YOUR CODE HERE

33
55
12
33
6

---

## Functions

In [89]:
def function_name():
    a = 2 
    b = 5
    c = a + b
    return c

In [91]:
function_name()

7

In [93]:
# Replace
def multiplication(a,b):
    return a*b

In [94]:
multiplication(2,5)

10

# TASK
Write a function for comparing two numbers. The function should return the bigger value:

```python
def compare(a,b):
    ....
# for example
compare(1,2)
> 2
    
```

In [88]:
# YOUR CODE HERE

2

***